* {
    margin: 0;
}

body {
    display: flex;
}

h1 {
    text-align: center;
    padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;

            border:10px;

            margin: 20px;

            padding: 180px;
}
.lista {
    position: absolute;
    top: 10px; 

}
dl {
    display: flex;
    flex-direction: column;
    
    width: 75px;
    padding: 2px;
    
    
}

footer {
    position: absolute;
    bottom: 10px; 
    left: 5px; 
    padding: 10px; 
}
.bloco {
    height: 900px;
    width: 200px;
    background-color: #164095;
    
}

dd{
    margin: 5px;
}