@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* background-color: #202020; */
}

body {
  margin: 0;
  padding: 0;
  @apply bg-[#f8f8f8];
  font-family: "Poppins", sans-serif;
}

.dark-bg {
  @apply bg-[#202020];
}
